<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>โปรแกรมแปลงเลขฐานอ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
</head>
<body>

<div class="box">
    <h2>โปรแกรมช่วยแปลงเลขฐานอัจฉริยะ</h2>

    <form method="post">
        <label>ตัวเลข</label>
        <input type="text" name="number" value="{{ number }}" required>

        <label>จากฐาน</label>
        <select name="from_base">
            <option value="2"  {% if from_base == "2" %}selected{% endif %}>ฐาน 2</option>
            <option value="8"  {% if from_base == "8" %}selected{% endif %}>ฐาน 8</option>
            <option value="10" {% if from_base == "10" %}selected{% endif %}>ฐาน 10</option>
            <option value="16" {% if from_base == "16" %}selected{% endif %}>ฐาน 16</option>
        </select>

        <label>เป็นฐาน</label>
        <select name="to_base">
            <option value="2"  {% if to_base == "2" %}selected{% endif %}>ฐาน 2</option>
            <option value="8"  {% if to_base == "8" %}selected{% endif %}>ฐาน 8</option>
            <option value="10" {% if to_base == "10" %}selected{% endif %}>ฐาน 10</option>
            <option value="16" {% if to_base == "16" %}selected{% endif %}>ฐาน 16</option>
        </select>

        <button type="submit">แปลงเลข</button>
    </form>

    {% if result %}
        <div class="result">
            ผลลัพธ์: {{ result }}
        </div>
    {% endif %}
</div>

</body>
</html>
